@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f0f2f5;
  --color-bar: #ca33d7;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #161840;
  --color-subtext: #ff8a71;
  --color-main: #f0f2f5;
  --color-gray-00: #f5f6f7;
  --color-gray-05: #f2f3f5;
  --color-gray-10: #ebedf0;
  --color-gray-20: #dadde1;
  --color-gray-25: #ccd0d5;
  --color-gray-30: #bec3c9;
  --color-gray-45: #8d949e;
  --color-gray-70: #606770;
  --color-gray-80: #444950;
  --color-gray-90: #303338;
  --color-gray-100: #1c1e21;
  --color-bg-nav: #fff;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-inset: rgba(255, 255, 255, 0.5);
  --color-link: #65676b;
  --speed: 500ms;
  --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
}
a {
  position: relative;
  letter-spacing: 1px;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: #000;
  white-space: nowrap;
}
.BottomBar a::before,
nav ul a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 100%;
  background: rgb(255, 197, 42);
  background: linear-gradient(
    90deg,
    rgba(255, 197, 42, 1) 0%,
    rgba(254, 128, 216, 1) 100%
  );
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}
a:active::before {
  background: rgb(255, 197, 42);
  background: linear-gradient(
    90deg,
    rgba(255, 197, 42, 1) 0%,
    rgba(254, 128, 216, 1) 100%
  );
}
a:hover::before,
a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
